<div class="home-page">
    <div class="background">
      <div class="cart-container">
        <button class="cart-button" (click)="toggleCart()">
          🛒 <span *ngIf="cart.length > 0" class="cart-count">{{ cart.length }}</span>
        </button>
      
        <div class="cart-dropdown" *ngIf="cartVisible">
          <h3>Carrito</h3>
          <ul>
            <li *ngFor="let item of cart">
              {{ item.nombre }} (x{{ item.cantidad }}) - {{ item.precio | currency }}
            </li>
          </ul>
          <div class="cart-total">
            <strong>Total: {{ totalCompra | currency }}</strong>
        </div>
          <button (click)="checkout()">Finalizar Compra</button>
        </div>
      </div>
      
      
    <app-login *ngIf="!isUserLoggedIn"></app-login>
    <button (click)="logout()">Logout</button>
      <h1>Bienvenido a MEGA Supermarket</h1>
      <p>Gestiona tus productos fácilmente.</p>
  
      <!-- Imágenes de categorías -->
      <div class="images">
        <img src="img/bellezaysalud.png" alt="Imagen 1" class="product-image">
        <img src="img/Supermercado.png" alt="Imagen 2" class="product-image">
        <img src="img/Electrodomesticos.png" alt="Imagen 3" class="product-image">
        <img src="img/hogar.png" alt="Imagen 4" class="product-image">
      </div>
  
      <!-- Botón para mostrar el formulario -->
      <button (click)="toggleForm()" class="btn-add">Agregar Producto</button>
  
      <!-- Formulario de producto (se muestra solo si showForm es true) -->
      <app-product-form 
          *ngIf="showForm" 
          (productRegistered)="addOrUpdateProduct($event)"
          [selectedProduct]="selectedProduct">
      </app-product-form>
  
      <!-- Buscar producto -->
      <input type="text" placeholder="Buscar producto..." (input)="searchProduct($event)" class="search-box">
  
      <!-- Lista de productos -->
      <app-product-list 
          [products]="filteredProducts"
          (editProduct)="editProduct($event)"
          (deleteProduct)="deleteProduct($event)">
      </app-product-list>

      <button (click)="toggleChatbot()" class="btn-chatbot">Abrir Chatbot</button>
      <div class="chatbot-container" *ngIf="showChatbot">
        <app-chatbot></app-chatbot>
    </div>



    </div>
  </div>
  
  