<form [formGroup]="productForm" (ngSubmit)="submitForm()">
  <div class="form-container">
    <div>
      <label>Nombre del producto:</label>
      <input type="text" formControlName="nombre">
      <div class="error" *ngIf="productForm.get('nombre')?.invalid && productForm.get('nombre')?.touched">
        <small *ngIf="productForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="productForm.get('nombre')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</small>
      </div>
    </div>
  
    <div>
      <label>Categoría:</label>
      <input type="text" formControlName="categoria">
      <div class="error" *ngIf="productForm.get('categoria')?.invalid && productForm.get('categoria')?.touched">
        <small *ngIf="productForm.get('categoria')?.errors?.['required']">La categoría es obligatoria.</small>
      </div>
    </div>
  
    <div>
      <label>Precio:</label>
      <input type="number" formControlName="precio">
      <div class="error" *ngIf="productForm.get('precio')?.invalid && productForm.get('precio')?.touched">
        <small *ngIf="productForm.get('precio')?.errors?.['required']">El precio es obligatorio.</small>
        <small *ngIf="productForm.get('precio')?.errors?.['pattern']">Debe ser un número válido.</small>
      </div>
    </div>
  
    <div>
      <label>Stock:</label>
      <input type="number" formControlName="stock">
      <div class="error" *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
        <small *ngIf="productForm.get('stock')?.errors?.['required']">El stock es obligatorio.</small>
        <small *ngIf="productForm.get('stock')?.errors?.['pattern']">Debe ser un número entero.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="productForm.invalid">Registrar Producto</button>

  </div>
  
</form>


