<form [formGroup]="productForm" (ngSubmit)="submitForm()">
  <div class="form-container">
    <div>
      <label>Nombre del producto:</label>
      <input type="text" formControlName="name">
      <div class="error" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        <small *ngIf="productForm.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="productForm.get('name')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</small>
      </div>
    </div>
  
    <div>
      <label>Categoría:</label>
      <input type="text" formControlName="category">
      <div class="error" *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
        <small *ngIf="productForm.get('category')?.errors?.['required']">La categoría es obligatoria.</small>
      </div>
    </div>
  
    <div>
      <label>Precio:</label>
      <input type="number" formControlName="price">
      <div class="error" *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        <small *ngIf="productForm.get('price')?.errors?.['required']">El precio es obligatorio.</small>
        <small *ngIf="productForm.get('price')?.errors?.['pattern']">Debe ser un número válido.</small>
      </div>
    </div>
  
    <div>
      <label>Stock:</label>
      <input type="number" formControlName="stock">
      <div class="error" *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
        <small *ngIf="productForm.get('stock')?.errors?.['required']">El stock es obligatorio.</small>
        <small *ngIf="productForm.get('stock')?.errors?.['pattern']">Debe ser un número entero.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="productForm.invalid">Registrar Producto</button>

  </div>
  
</form>


